<h4 class="text-center">Novo Cadastro</h4><hr>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group mb-3">
    <label for="nome" class="form-label">Nome Completo</label>
    <input type="text" class="form-control" id="nome" formControlName="fullName">
  </div>
  <div class="form-group mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] &&
      novoUsuarioForm.get('email')?.touched"
      mensagem="E-mail obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] &&
      novoUsuarioForm.get('email')?.touched"
      mensagem="E-mail no formato incorreto"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <label for="usuario" class="form-label">Usuário</label>
    <input type="text" class="form-control" id="usuario" formControlName="userName">
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
      novoUsuarioForm.get('userName')?.touched"
      mensagem="Apenas letras minúsculas "
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>
  <div class="mb-3">
    <label for="senha" class="form-label">Senha</label>
    <input type="password" class="form-control" id="senha" formControlName="password">
    <app-mensagem
    *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
    mensagem="Senha deve ser diferente do usuário"
  >
  </app-mensagem>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="termos">
    <label class="form-check-label" for="exampleCheck1">Concordo com termos de uso</label>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('termos')?.touched"
      mensagem="Este campo é obrigatório"
    ></app-mensagem>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
</form>
<p>Já é um usuário? <a [routerLink]="['']">Faça login!</a></p>
